# Logs
*.log

# Dependency directories
node_modules/
venv/

# Build artifacts
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.suo
*.ntvs_analysis.dat

# Environment files
.env

# custom files
requirements.txt
